<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebJSP3_Jakarta_DBCP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JoinController</servlet-name>
    <servlet-class>Login.Controller.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PwdSearchController</servlet-name>
    <servlet-class>Login.Controller.PwdSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PwdSearchController</servlet-name>
    <url-pattern>*.da</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>Board.Controller.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckController</servlet-name>
    <servlet-class>Login.Controller.JoinCheck_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckController</servlet-name>
    <url-pattern>*.ch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MypageController</servlet-name>
    <servlet-class>Mypage.Controller.MypageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageController</servlet-name>
    <url-pattern>*.my</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>Date.Controller.Search_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>*.search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Login.Controller.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>*.login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateController</servlet-name>
    <servlet-class>Date.Controller.DateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateController</servlet-name>
    <url-pattern>*.daa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartyController</servlet-name>
    <servlet-class>Meeting.Controller.PartyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyController</servlet-name>
    <url-pattern>*.party</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartyDetailController</servlet-name>
    <servlet-class>Meeting.Controller.PartydetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyDetailController</servlet-name>
    <url-pattern>*.ps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchControllerMin</servlet-name>
    <servlet-class>Date.Controller.Search_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControllerMin</servlet-name>
    <url-pattern>*.sear</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFrontController</servlet-name>
    <servlet-class>Admin.Controller.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFrontController</servlet-name>
    <url-pattern>*.admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>Mypage.Controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>*.msg</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>EditController</servlet-name>
    <servlet-class>Mypage.Controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>*.edit</url-pattern>
  </servlet-mapping>
</web-app>